html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.popup-inner ul {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.popup-inner li {
    color: gold;
}

.popup-inner li.lost-star {
    color: lightgray;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.unavailable,
.lost-star{
    color: lightgray;
}

.hidden {
  display: none;
}

.popup {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    position: relative;
  margin-bottom: 20px;
}

.start-button {
  margin: auto;
  background-color: #2e3d49;
  position: absolute;
  height: 80px;
  width: 150px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  padding: 25px;
  color: #fff;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 8px 9px 15px 0 rgba(46, 61, 73, 0.5);
}

.start-button:hover {
  background: linear-gradient(160deg, #fff 0%, #ccf 80%);
  color: #2e3d49;
}

.start-button:active {
  box-shadow: 2px 3px 15px 0 rgba(46, 61, 73, 0.5);
}

.popup-new {  
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(46, 61, 73, 0.90);
  width: 100%;
  height: 100%;
}

.popup-inner {
  z-index: 99px;
  padding: 30px 25px;
  max-width: 600px;
  height: 300px;
  text-align: center;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  color: #fff;
  border-radius: 8px;
  overflow: auto; 
  margin: auto; 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;  
  box-shadow: 8px 9px 15px 0 rgba(46, 61, 73, 0.9);
}
.btn {
    padding: 10px 20px;
    margin: 20px 20px 0 20px;
    min-height: 50px;
    min-width: 80px;
    background: #2e3d49;
    font-size: 20px;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    text-transform: capitalize;
}

.btn .fa {
    margin-right: 8px;
}
.btn:hover {
  background: linear-gradient(160deg, #fff 0%, #ccf 80%);
  color: #2e3d49;
}

.btn:active {
  box-shadow: 2px 3px 15px 0 rgba(46, 61, 73, 0.5);
}